<!DOCTYPE html>
<html>
  <head>
    <title>Danh sách giáo viên</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
      }
      th,
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      th {
        background-color: #f2f2f2;
      }
      .button-group {
        margin-top: 10px;
      }
      .edit-button,
      .delete-button {
        padding: 6px 10px;
        background-color: #337ab7;
        color: white;
        border: none;
        cursor: pointer;
        margin-right: 5px;
      }
      .delete-button {
        background-color: #d9534f;
      }
    </style>
  </head>
  <body>
    <h1>Danh sách giáo viên</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Họ và tên</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Thao tác</th>
      </tr>
      <% var data = JSON.parse(dataUser); %> <% for (let i = 0; i < data.length; i++) { %>
      <tr>
        <td><%= data[i].id %></td>
        <td><%= data[i].firstname + ' / ' + data[i].lastname %></td>
        <td><%= data[i].email %></td>
        <td><%= data[i].address %></td>
        <td class="button-group">
          <button
            class="edit-button"
            onclick="editLecturer(<%= data[i].id %>)"
          >
            Sửa
          </button>
          <button
            class="delete-button"
            onclick="deleteLecturer(<%= data[i].id %>)"
          >
            Xoá
          </button>
        </td>
      </tr>
      <% } %>
    </table>

    <script>
      function editLecturer(id) {
        // Chuyển hướng đến trang sửa giáo viên với ID cụ thể
        window.location.href = '/editlecturer/' + id;
      }
      function deleteLecturer(id) {
        console.log('deletebutton');
        if (confirm('Bạn có chắc muốn xoá giáo viên có ID ' + id + ' không?')) {
          console.log(localStorage.getItem('token'));
          // Gửi yêu cầu xoá giáo viên đến máy chủ
          // fetch('/delete-lecturer/' + id, {
          fetch(`/delete-lecturer/` + id, {
            method: 'POST',
            headers: {
              Authorization: `Bearer ${localStorage.getItem('token')}`,
            },
          })
            .then((response) => response.json())
            .then((data) => {
              alert(data.message);
              // Reload trang sau khi xoá
              window.location.reload();
            })
            .catch((error) => {
              alert('Lỗi:', error);
            });
        }
      }
    </script>
  </body>
</html>
